<!-- <html>
  <head>
    <meta charset="utf-8">
    <title>Userpage</title>
    <style media="screen">
      label {
        display: block;
      }
      input {
        display: block;
      }
    </style>
  </head>
  <body>
    <h3>Edit this item</h3>
    <form class="update-item-form" action="/users/<%= currentUsername %>/items/<%= currentItem[0].id %>" method="POST">
      Male <input class='input' type="radio" name="gender" value="male">
      Female <input class='input' type="radio" name="gender" value="female">
      <span class'label'>Type:</span></br>
      tops <input class='input' type="radio" name="type" value="tops">
      bottoms <input class='input' type="radio" name="type" value="bottoms">
      shoes <input class='input' type="radio" name="type" value="shoes">
      <span class'label'>Size:</span>
      <input class='input' type="textarea" name="size" placeholder="size" value="<%= currentItem[0].size %>">
      <span class'label'>Description:</span>
      <input class='input' type="textarea" name="description" placeholder="description" value="<%= currentItem[0].description %>">
      <span class'label'>Tags:</span>
      <input class='input' type="textarea" name="tags" placeholder="the tags" value="<%= currentItemTags %>">
      <span class'label'>Image:</span>
      <input class='input' type="textarea" name="img_url" placeholder="image url" value="<%= currentItem[0].img_url %>">
      <input type="hidden" name="item_id" value="<%= currentItem[0].id %>">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
 -->