<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Userpage</title>
    <style media="screen">
      label {
        display: block;
      }
      input {
        display: block;
      }
    </style>
  </head>
  <body>
    <h3>Create a new item</h3>
    <form class="create-item-form" action="/users/:id/new" method="POST">
      Male <input class='input' type="radio" name="gender" value="male">
      Female <input class='input' type="radio" name="gender" value="female">
      <span class'label'>Type:</span></br>
      tops <input class='input' type="radio" name="type" value="tops">
      bottoms <input class='input' type="radio" name="type" value="bottoms">
      shoes <input class='input' type="radio" name="type" value="shoes">
      <span class'label'>Size:</span>
      <input class='input' type="textarea" name="size" placeholder="size">
      <span class'label'>Description:</span>
      <input class='input' type="textarea" name="description" placeholder="description">
      <span class'label'>Tags:</span>
      <input class='input' type="textarea" name="tags" placeholder="the tags">
      <span class'label'>Image:</span>
      <input class='input' type="textarea" name="img_url" placeholder="image url">
      <button type="submit">Submit</button>
    </form>
    <div>
      <% currentUserItems.forEach((item) => { %>
        <p>type: </p>
        <%= item.type %>
        <p>gender: </p>
        <%= item.gender %>
        <p>size: </p>
        <%= item.size %>
        <p>description: </p>
        <%= item.description %>
        <p>img url: </p>
        <%= item.description %>
        <a href="/users/<%= currentUsername %>/items/<%= item.id %>">edit???</a>
      <% }) %>
    </div>
  </body>
</html>
 -->